:root {

    --red-50: #FFEBEE;
    --red-100:#FFCDD2;
    --red-200:#EF9A9A;
    --red-300:#E57373;
    --red-400:#EF5350;
    --red-500:#F44336;
    --red-600:#E53935;
    --red-700:#D32F2F;
    --red-800:#C62828;
    --red-900:#B71C1C;

    --pink-50: #FCE4EC;
    --pink-100:#F8BBD0;
    --pink-200:#F48FB1;
    --pink-300:#F06292;
    --pink-400:#EC407A;
    --pink-500:#E91E63;
    --pink-600:#D81B60;
    --pink-700:#C2185B;
    --pink-800:#AD1457;
    --pink-900:#880E4F;

    --purple-50: #F3E5F5;
    --purple-100:#E1BEE7;
    --purple-200:#CE93D8;
    --purple-300:#BA68C8;
    --purple-400:#AB47BC;
    --purple-500:#9C27B0;
    --purple-600:#8E24AA;
    --purple-700:#7B1FA2;
    --purple-800:#6A1B9A;
    --purple-900:#4A148C;

    --deep-purple-50: #EDE7F6;
    --deep-purple-100:#D1C4E9;
    --deep-purple-200:#B39DDB;
    --deep-purple-300:#9575CD;
    --deep-purple-400:#7E57C2;
    --deep-purple-500:#673AB7;
    --deep-purple-600:#5E35B1;
    --deep-purple-700:#512DA8;
    --deep-purple-800:#4527A0;
    --deep-purple-900:#311B92;

    --indigo-50: #E8EAF6;
    --indigo-100:#C5CAE9;
    --indigo-200:#9FA8DA;
    --indigo-300:#7986CB;
    --indigo-400:#5C6BC0;
    --indigo-500:#3F51B5;
    --indigo-600:#3949AB;
    --indigo-700:#303F9F;
    --indigo-800:#283593;
    --indigo-900:#1A237E;

    --cyan-50: #E0F7FA;
    --cyan-100:#B2EBF2;
    --cyan-200:#80DEEA;
    --cyan-300:#4DD0E1;
    --cyan-400:#26C6DA;
    --cyan-500:#00BCD4;
    --cyan-600:#00ACC1;
    --cyan-700:#0097A7;
    --cyan-800:#00838F;
    --cyan-900:#006064;

    --teal-50: #E0F2F1;
    --teal-100:#B2DFDB;
    --teal-200:#80CBC4;
    --teal-300:#4DB6AC;
    --teal-400:#26A69A;
    --teal-500:#009688;
    --teal-600:#00897B;
    --teal-700:#00796B;
    --teal-800:#00695C;
    --teal-900:#004D40;


    --bluegrey-50:#ECEFF1;
    --bluegrey-100:#CFD8DC;
    --bluegrey-200:#B0BEC5;
    --bluegrey-300:#90A4AE;
    --bluegrey-400:#78909C;
    --bluegrey-500:#607D8B;
    --bluegrey-600:#546E7A;
    --bluegrey-700:#455A64;
    --bluegrey-800:#37474F;
    --bluegrey-900:#263238;

    --brown-50: #EFEBE9;
    --brown-100:#D7CCC8;
    --brown-200:#BCAAA4;
    --brown-300:#A1887F;
    --brown-400:#8D6E63;
    --brown-500:#795548;
    --brown-600:#6D4C41;
    --brown-700:#5D4037;
    --brown-800:#4E342E;
    --brown-900:#3E2723;

    --grey-50: #FAFAFA;
    --grey-100:#F5F5F5;
    --grey-200:#EEEEEE;
    --grey-300:#E0E0E0;
    --grey-400:#BDBDBD;
    --grey-500:#9E9E9E;
    --grey-600:#757575;
    --grey-700:#616161;
    --grey-800:#424242;
    --grey-900:#212121;

    --yellow-50: #FFFDE7;
    --yellow-100:#FFF9C4;
    --yellow-200:#FFF59D;
    --yellow-300:#FFF176;
    --yellow-400:#FFEE58;
    --yellow-500:#FFEB3B;
    --yellow-600:#FDD835;
    --yellow-700:#FBC02D;
    --yellow-800:#F9A825;
    --yellow-900:#F57F17;

    --amber-50: #FFF8E1;
    --amber-100:#FFECB3;
    --amber-200:#FFE082;
    --amber-300:#FFCA28;
    --amber-400:#FFCA28;
    --amber-500:#FFC107;
    --amber-600:#FFB300;
    --amber-700:#FFA000;
    --amber-800:#FF8F00;
    --amber-900:#FF6F00;

    --orange-50: #FFF3E0;
    --orange-100:#FFE0B2;
    --orange-200:#FFCC80;
    --orange-300:#FFB74D;
    --orange-400:#FFA726;
    --orange-500:#FF9800;
    --orange-600:#FB8C00;
    --orange-700:#F57C00;
    --orange-800:#EF6C00;
    --orange-900:#E65100;

    --deep-orange-50: #FBE9E7;
    --deep-orange-100:#FFCCBC;
    --deep-orange-200:#FFAB91;
    --deep-orange-300:#FF8A65;
    --deep-orange-400:#FF7043;
    --deep-orange-500:#FF5722;
    --deep-orange-600:#F4511E;
    --deep-orange-700:#E64A19;
    --deep-orange-800:#D84315;
    --deep-orange-900:#BF360C;

    --green-50: #E8F5E9;
    --green-100:#C8E6C9;
    --green-200:#A5D6A7;
    --green-300:#81C784;
    --green-400:#66BB6A;
    --green-500:#4CAF50;
    --green-600:#43A047;
    --green-700:#43A047;
    --green-800:#2E7D32;
    --green-900:#1B5E20;

    --light-green-50: #F1F8E9;
    --light-green-100:#DCEDC8;
    --light-green-200:#C5E1A5;
    --light-green-300:#AED581;
    --light-green-400:#9CCC65;
    --light-green-500:#8BC34A;
    --light-green-600:#7CB342;
    --light-green-700:#689F38;
    --light-green-800:#558B2F;
    --light-green-900:#33691E;

}

.outlined-btn{
    border-radius: 4px;
    padding: 5px 16px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    background-color: transparent;
}
.outlined-btn.btn-black
{
    color: #000;
    border: 1px solid #000;
}
.outlined-btn.btn-black:hover
{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.outlined-btn.btn-red
{
    color: var(--red-400);
    border: 1px solid var(--red-400);
}
.outlined-btn.btn-red:hover
{
    background-color: var(--red-400);
    color: var(--white);
    border: 1px solid var(--red-400);
}

.outlined-btn.btn-red-50
{
    color: var(--red-50);
    border: 1px solid var(--red-50);
}
.outlined-btn.btn-red-50:hover
{
    background-color: var(--red-50);
    color: var(--white);
    border: 1px solid var(--red-50);
}

.outlined-btn.btn-red-100
{
    color: var(--red-100);
    border: 1px solid var(--red-100);
}
.outlined-btn.btn-red-100:hover
{
    background-color: var(--red-100);
    color: var(--white);
    border: 1px solid var(--red-100);
}

.outlined-btn.btn-red-200
{
    color: var(--red-200);
    border: 1px solid var(--red-200);
}
.outlined-btn.btn-red-200:hover
{
    background-color: var(--red-200);
    color: var(--white);
    border: 1px solid var(--red-200);
}

.outlined-btn.btn-red-300
{
    color: var(--red-300);
    border: 1px solid var(--red-300);
}
.outlined-btn.btn-red-300:hover
{
    background-color: var(--red-300);
    color: var(--white);
    border: 1px solid var(--red-300);
}

.outlined-btn.btn-red-400
{
    color: var(--red-400);
    border: 1px solid var(--red-400);
}
.outlined-btn.btn-red-400:hover
{
    background-color: var(--red-400);
    color: var(--white);
    border: 1px solid var(--red-400);
}

.outlined-btn.btn-red-500
{
    color: var(--red-500);
    border: 1px solid var(--red-500);
}
.outlined-btn.btn-red-500:hover
{
    background-color: var(--red-500);
    color: var(--white);
    border: 1px solid var(--red-500);
}

.outlined-btn.btn-red-600
{
    color: var(--red-600);
    border: 1px solid var(--red-600);
}
.outlined-btn.btn-red-600:hover
{
    background-color: var(--red-600);
    color: var(--white);
    border: 1px solid var(--red-600);
}

.outlined-btn.btn-red-700
{
    color: var(--red-700);
    border: 1px solid var(--red-700);
}
.outlined-btn.btn-red-700:hover
{
    background-color: var(--red-700);
    color: var(--white);
    border: 1px solid var(--red-700);
}

.outlined-btn.btn-red-800
{
    color: var(--red-800);
    border: 1px solid var(--red-800);
}
.outlined-btn.btn-red-800:hover
{
    background-color: var(--red-800);
    color: var(--white);
    border: 1px solid var(--red-800);
}

.outlined-btn.btn-red-900
{
    color: var(--red-900);
    border: 1px solid var(--red-900);
}
.outlined-btn.btn-red-900:hover
{
    background-color: var(--red-900);
    color: var(--white);
    border: 1px solid var(--red-900);
}

.outlined-btn.btn-pink
{
    color: var(--pink-400);
    border: 1px solid var(--pink-400);
}
.outlined-btn.btn-pink:hover
{
    background-color: var(--pink-400);
    color: var(--white);
    border: 1px solid var(--pink-400);
}

.outlined-btn.btn-pink-50
{
    color: var(--pink-50);
    border: 1px solid var(--pink-50);
}
.outlined-btn.btn-pink-50:hover
{
    background-color: var(--pink-50);
    color: var(--white);
    border: 1px solid var(--pink-50);
}

.outlined-btn.btn-pink-100
{
    color: var(--pink-100);
    border: 1px solid var(--pink-100);
}
.outlined-btn.btn-pink-100:hover
{
    background-color: var(--pink-100);
    color: var(--white);
    border: 1px solid var(--pink-100);
}

.outlined-btn.btn-pink-200
{
    color: var(--pink-200);
    border: 1px solid var(--pink-200);
}
.outlined-btn.btn-pink-200:hover
{
    background-color: var(--pink-200);
    color: var(--white);
    border: 1px solid var(--pink-200);
}

.outlined-btn.btn-pink-300
{
    color: var(--pink-300);
    border: 1px solid var(--pink-300);
}
.outlined-btn.btn-pink-300:hover
{
    background-color: var(--pink-300);
    color: var(--white);
    border: 1px solid var(--pink-300);
}

.outlined-btn.btn-pink-400
{
    color: var(--pink-400);
    border: 1px solid var(--pink-400);
}
.outlined-btn.btn-pink-400:hover
{
    background-color: var(--pink-400);
    color: var(--white);
    border: 1px solid var(--pink-400);
}

.outlined-btn.btn-pink-500
{
    color: var(--pink-500);
    border: 1px solid var(--pink-500);
}
.outlined-btn.btn-pink-500:hover
{
    background-color: var(--pink-500);
    color: var(--white);
    border: 1px solid var(--pink-500);
}

.outlined-btn.btn-pink-600
{
    color: var(--pink-600);
    border: 1px solid var(--pink-600);
}
.outlined-btn.btn-pink-600:hover
{
    background-color: var(--pink-600);
    color: var(--white);
    border: 1px solid var(--pink-600);
}

.outlined-btn.btn-pink-700
{
    color: var(--pink-700);
    border: 1px solid var(--pink-700);
}
.outlined-btn.btn-pink-700:hover
{
    background-color: var(--pink-700);
    color: var(--white);
    border: 1px solid var(--pink-700);
}

.outlined-btn.btn-pink-800
{
    color: var(--pink-800);
    border: 1px solid var(--pink-800);
}
.outlined-btn.btn-pink-800:hover
{
    background-color: var(--pink-800);
    color: var(--white);
    border: 1px solid var(--pink-800);
}

.outlined-btn.btn-pink-900
{
    color: var(--pink-900);
    border: 1px solid var(--pink-900);
}
.outlined-btn.btn-pink-900:hover
{
    background-color: var(--pink-900);
    color: var(--white);
    border: 1px solid var(--pink-900);
}

.outlined-btn.btn-purple
{
    color: var(--purple-400);
    border: 1px solid var(--purple-400);
}
.outlined-btn.btn-purple:hover
{
    background-color: var(--purple-400);
    color: var(--white);
    border: 1px solid var(--purple-400);
}

.outlined-btn.btn-purple-50
{
    color: var(--purple-50);
    border: 1px solid var(--purple-50);
}
.outlined-btn.btn-purple-50:hover
{
    background-color: var(--purple-50);
    color: var(--white);
    border: 1px solid var(--purple-50);
}

.outlined-btn.btn-purple-100
{
    color: var(--purple-100);
    border: 1px solid var(--purple-100);
}
.outlined-btn.btn-purple-100:hover
{
    background-color: var(--purple-100);
    color: var(--white);
    border: 1px solid var(--purple-100);
}

.outlined-btn.btn-purple-200
{
    color: var(--purple-200);
    border: 1px solid var(--purple-200);
}
.outlined-btn.btn-purple-200:hover
{
    background-color: var(--purple-200);
    color: var(--white);
    border: 1px solid var(--purple-200);
}

.outlined-btn.btn-purple-300
{
    color: var(--purple-300);
    border: 1px solid var(--purple-300);
}
.outlined-btn.btn-purple-300:hover
{
    background-color: var(--purple-300);
    color: var(--white);
    border: 1px solid var(--purple-300);
}

.outlined-btn.btn-purple-400
{
    color: var(--purple-400);
    border: 1px solid var(--purple-400);
}
.outlined-btn.btn-purple-400:hover
{
    background-color: var(--purple-400);
    color: var(--white);
    border: 1px solid var(--purple-400);
}

.outlined-btn.btn-purple-500
{
    color: var(--purple-500);
    border: 1px solid var(--purple-500);
}
.outlined-btn.btn-purple-500:hover
{
    background-color: var(--purple-500);
    color: var(--white);
    border: 1px solid var(--purple-500);
}

.outlined-btn.btn-purple-600
{
    color: var(--purple-600);
    border: 1px solid var(--purple-600);
}
.outlined-btn.btn-purple-600:hover
{
    background-color: var(--purple-600);
    color: var(--white);
    border: 1px solid var(--purple-600);
}

.outlined-btn.btn-purple-700
{
    color: var(--purple-700);
    border: 1px solid var(--purple-700);
}
.outlined-btn.btn-purple-700:hover
{
    background-color: var(--purple-700);
    color: var(--white);
    border: 1px solid var(--purple-700);
}

.outlined-btn.btn-purple-800
{
    color: var(--purple-800);
    border: 1px solid var(--purple-800);
}
.outlined-btn.btn-purple-800:hover
{
    background-color: var(--purple-800);
    color: var(--white);
    border: 1px solid var(--purple-800);
}

.outlined-btn.btn-purple-900
{
    color: var(--purple-900);
    border: 1px solid var(--purple-900);
}
.outlined-btn.btn-purple-900:hover
{
    background-color: var(--purple-900);
    color: var(--white);
    border: 1px solid var(--purple-900);
}

.outlined-btn.btn-deep-purple
{
    color: var(--deep-purple-400);
    border: 1px solid var(--deep-purple-400);
}
.outlined-btn.btn-deep-purple:hover
{
    background-color: var(--deep-purple-400);
    color: var(--white);
    border: 1px solid var(--deep-purple-400);
}

.outlined-btn.btn-deep-purple-50
{
    color: var(--deep-purple-50);
    border: 1px solid var(--deep-purple-50);
}
.outlined-btn.btn-deep-purple-50:hover
{
    background-color: var(--deep-purple-50);
    color: var(--white);
    border: 1px solid var(--deep-purple-50);
}

.outlined-btn.btn-deep-purple-100
{
    color: var(--deep-purple-100);
    border: 1px solid var(--deep-purple-100);
}
.outlined-btn.btn-deep-purple-100:hover
{
    background-color: var(--deep-purple-100);
    color: var(--white);
    border: 1px solid var(--deep-purple-100);
}

.outlined-btn.btn-deep-purple-200
{
    color: var(--deep-purple-200);
    border: 1px solid var(--deep-purple-200);
}
.outlined-btn.btn-deep-purple-200:hover
{
    background-color: var(--deep-purple-200);
    color: var(--white);
    border: 1px solid var(--deep-purple-200);
}

.outlined-btn.btn-deep-purple-300
{
    color: var(--deep-purple-300);
    border: 1px solid var(--deep-purple-300);
}
.outlined-btn.btn-deep-purple-300:hover
{
    background-color: var(--deep-purple-300);
    color: var(--white);
    border: 1px solid var(--deep-purple-300);
}

.outlined-btn.btn-deep-purple-400
{
    color: var(--deep-purple-400);
    border: 1px solid var(--deep-purple-400);
}
.outlined-btn.btn-deep-purple-400:hover
{
    background-color: var(--deep-purple-400);
    color: var(--white);
    border: 1px solid var(--deep-purple-400);
}

.outlined-btn.btn-deep-purple-500
{
    color: var(--deep-purple-500);
    border: 1px solid var(--deep-purple-500);
}
.outlined-btn.btn-deep-purple-500:hover
{
    background-color: var(--deep-purple-500);
    color: var(--white);
    border: 1px solid var(--deep-purple-500);
}

.outlined-btn.btn-deep-purple-600
{
    color: var(--deep-purple-600);
    border: 1px solid var(--deep-purple-600);
}
.outlined-btn.btn-deep-purple-600:hover
{
    background-color: var(--deep-purple-600);
    color: var(--white);
    border: 1px solid var(--deep-purple-600);
}

.outlined-btn.btn-deep-purple-700
{
    color: var(--deep-purple-700);
    border: 1px solid var(--deep-purple-700);
}
.outlined-btn.btn-deep-purple-700:hover
{
    background-color: var(--deep-purple-700);
    color: var(--white);
    border: 1px solid var(--deep-purple-700);
}

.outlined-btn.btn-deep-purple-800
{
    color: var(--deep-purple-800);
    border: 1px solid var(--deep-purple-800);
}
.outlined-btn.btn-deep-purple-800:hover
{
    background-color: var(--deep-purple-800);
    color: var(--white);
    border: 1px solid var(--deep-purple-800);
}

.outlined-btn.btn-deep-purple-900
{
    color: var(--deep-purple-900);
    border: 1px solid var(--deep-purple-900);
}
.outlined-btn.btn-deep-purple-900:hover
{
    background-color: var(--deep-purple-900);
    color: var(--white);
    border: 1px solid var(--deep-purple-900);
}

.outlined-btn.btn-indigo
{
    color: var(--indigo-400);
    border: 1px solid var(--indigo-400);
}
.outlined-btn.btn-indigo:hover
{
    background-color: var(--indigo-400);
    color: var(--white);
    border: 1px solid var(--indigo-400);
}

.outlined-btn.btn-indigo-50
{
    color: var(--indigo-50);
    border: 1px solid var(--indigo-50);
}
.outlined-btn.btn-indigo-50:hover
{
    background-color: var(--indigo-50);
    color: var(--white);
    border: 1px solid var(--indigo-50);
}

.outlined-btn.btn-indigo-100
{
    color: var(--indigo-100);
    border: 1px solid var(--indigo-100);
}
.outlined-btn.btn-indigo-100:hover
{
    background-color: var(--indigo-100);
    color: var(--white);
    border: 1px solid var(--indigo-100);
}

.outlined-btn.btn-indigo-200
{
    color: var(--indigo-200);
    border: 1px solid var(--indigo-200);
}
.outlined-btn.btn-indigo-200:hover
{
    background-color: var(--indigo-200);
    color: var(--white);
    border: 1px solid var(--indigo-200);
}

.outlined-btn.btn-indigo-300
{
    color: var(--indigo-300);
    border: 1px solid var(--indigo-300);
}
.outlined-btn.btn-indigo-300:hover
{
    background-color: var(--indigo-300);
    color: var(--white);
    border: 1px solid var(--indigo-300);
}

.outlined-btn.btn-indigo-400
{
    color: var(--indigo-400);
    border: 1px solid var(--indigo-400);
}
.outlined-btn.btn-indigo-400:hover
{
    background-color: var(--indigo-400);
    color: var(--white);
    border: 1px solid var(--indigo-400);
}

.outlined-btn.btn-indigo-500
{
    color: var(--indigo-500);
    border: 1px solid var(--indigo-500);
}
.outlined-btn.btn-indigo-500:hover
{
    background-color: var(--indigo-500);
    color: var(--white);
    border: 1px solid var(--indigo-500);
}

.outlined-btn.btn-indigo-600
{
    color: var(--indigo-600);
    border: 1px solid var(--indigo-600);
}
.outlined-btn.btn-indigo-600:hover
{
    background-color: var(--indigo-600);
    color: var(--white);
    border: 1px solid var(--indigo-600);
}

.outlined-btn.btn-indigo-700
{
    color: var(--indigo-700);
    border: 1px solid var(--indigo-700);
}
.outlined-btn.btn-indigo-700:hover
{
    background-color: var(--indigo-700);
    color: var(--white);
    border: 1px solid var(--indigo-700);
}

.outlined-btn.btn-indigo-800
{
    color: var(--indigo-800);
    border: 1px solid var(--indigo-800);
}
.outlined-btn.btn-indigo-800:hover
{
    background-color: var(--indigo-800);
    color: var(--white);
    border: 1px solid var(--indigo-800);
}

.outlined-btn.btn-indigo-900
{
    color: var(--indigo-900);
    border: 1px solid var(--indigo-900);
}
.outlined-btn.btn-indigo-900:hover
{
    background-color: var(--indigo-900);
    color: var(--white);
    border: 1px solid var(--indigo-900);
}

.outlined-btn.btn-cyan
{
    color: var(--cyan-400);
    border: 1px solid var(--cyan-400);
}
.outlined-btn.btn-cyan:hover
{
    background-color: var(--cyan-400);
    color: var(--white);
    border: 1px solid var(--cyan-400);
}

.outlined-btn.btn-cyan-50
{
    color: var(--cyan-50);
    border: 1px solid var(--cyan-50);
}
.outlined-btn.btn-cyan-50:hover
{
    background-color: var(--cyan-50);
    color: var(--white);
    border: 1px solid var(--cyan-50);
}

.outlined-btn.btn-cyan-100
{
    color: var(--cyan-100);
    border: 1px solid var(--cyan-100);
}
.outlined-btn.btn-cyan-100:hover
{
    background-color: var(--cyan-100);
    color: var(--white);
    border: 1px solid var(--cyan-100);
}

.outlined-btn.btn-cyan-200
{
    color: var(--cyan-200);
    border: 1px solid var(--cyan-200);
}
.outlined-btn.btn-cyan-200:hover
{
    background-color: var(--cyan-200);
    color: var(--white);
    border: 1px solid var(--cyan-200);
}

.outlined-btn.btn-cyan-300
{
    color: var(--cyan-300);
    border: 1px solid var(--cyan-300);
}
.outlined-btn.btn-cyan-300:hover
{
    background-color: var(--cyan-300);
    color: var(--white);
    border: 1px solid var(--cyan-300);
}

.outlined-btn.btn-cyan-400
{
    color: var(--cyan-400);
    border: 1px solid var(--cyan-400);
}
.outlined-btn.btn-cyan-400:hover
{
    background-color: var(--cyan-400);
    color: var(--white);
    border: 1px solid var(--cyan-400);
}

.outlined-btn.btn-cyan-500
{
    color: var(--cyan-500);
    border: 1px solid var(--cyan-500);
}
.outlined-btn.btn-cyan-500:hover
{
    background-color: var(--cyan-500);
    color: var(--white);
    border: 1px solid var(--cyan-500);
}

.outlined-btn.btn-cyan-600
{
    color: var(--cyan-600);
    border: 1px solid var(--cyan-600);
}
.outlined-btn.btn-cyan-600:hover
{
    background-color: var(--cyan-600);
    color: var(--white);
    border: 1px solid var(--cyan-600);
}

.outlined-btn.btn-cyan-700
{
    color: var(--cyan-700);
    border: 1px solid var(--cyan-700);
}
.outlined-btn.btn-cyan-700:hover
{
    background-color: var(--cyan-700);
    color: var(--white);
    border: 1px solid var(--cyan-700);
}

.outlined-btn.btn-cyan-800
{
    color: var(--cyan-800);
    border: 1px solid var(--cyan-800);
}
.outlined-btn.btn-cyan-800:hover
{
    background-color: var(--cyan-800);
    color: var(--white);
    border: 1px solid var(--cyan-800);
}

.outlined-btn.btn-cyan-900
{
    color: var(--cyan-900);
    border: 1px solid var(--cyan-900);
}
.outlined-btn.btn-cyan-900:hover
{
    background-color: var(--cyan-900);
    color: var(--white);
    border: 1px solid var(--cyan-900);
}

.outlined-btn.btn-teal
{
    color: var(--teal-400);
    border: 1px solid var(--teal-400);
}
.outlined-btn.btn-teal:hover
{
    background-color: var(--teal-400);
    color: var(--white);
    border: 1px solid var(--teal-400);
}

.outlined-btn.btn-teal-50
{
    color: var(--teal-50);
    border: 1px solid var(--teal-50);
}
.outlined-btn.btn-teal-50:hover
{
    background-color: var(--teal-50);
    color: var(--white);
    border: 1px solid var(--teal-50);
}

.outlined-btn.btn-teal-100
{
    color: var(--teal-100);
    border: 1px solid var(--teal-100);
}
.outlined-btn.btn-teal-100:hover
{
    background-color: var(--teal-100);
    color: var(--white);
    border: 1px solid var(--teal-100);
}

.outlined-btn.btn-teal-200
{
    color: var(--teal-200);
    border: 1px solid var(--teal-200);
}
.outlined-btn.btn-teal-200:hover
{
    background-color: var(--teal-200);
    color: var(--white);
    border: 1px solid var(--teal-200);
}

.outlined-btn.btn-teal-300
{
    color: var(--teal-300);
    border: 1px solid var(--teal-300);
}
.outlined-btn.btn-teal-300:hover
{
    background-color: var(--teal-300);
    color: var(--white);
    border: 1px solid var(--teal-300);
}

.outlined-btn.btn-teal-400
{
    color: var(--teal-400);
    border: 1px solid var(--teal-400);
}
.outlined-btn.btn-teal-400:hover
{
    background-color: var(--teal-400);
    color: var(--white);
    border: 1px solid var(--teal-400);
}

.outlined-btn.btn-teal-500
{
    color: var(--teal-500);
    border: 1px solid var(--teal-500);
}
.outlined-btn.btn-teal-500:hover
{
    background-color: var(--teal-500);
    color: var(--white);
    border: 1px solid var(--teal-500);
}

.outlined-btn.btn-teal-600
{
    color: var(--teal-600);
    border: 1px solid var(--teal-600);
}
.outlined-btn.btn-teal-600:hover
{
    background-color: var(--teal-600);
    color: var(--white);
    border: 1px solid var(--teal-600);
}

.outlined-btn.btn-teal-700
{
    color: var(--teal-700);
    border: 1px solid var(--teal-700);
}
.outlined-btn.btn-teal-700:hover
{
    background-color: var(--teal-700);
    color: var(--white);
    border: 1px solid var(--teal-700);
}

.outlined-btn.btn-teal-800
{
    color: var(--teal-800);
    border: 1px solid var(--teal-800);
}
.outlined-btn.btn-teal-800:hover
{
    background-color: var(--teal-800);
    color: var(--white);
    border: 1px solid var(--teal-800);
}

.outlined-btn.btn-teal-900
{
    color: var(--teal-900);
    border: 1px solid var(--teal-900);
}
.outlined-btn.btn-teal-900:hover
{
    background-color: var(--teal-900);
    color: var(--white);
    border: 1px solid var(--teal-900);
}

.outlined-btn.btn-bluegrey
{
    color: var(--bluegrey-400);
    border: 1px solid var(--bluegrey-400);
}
.outlined-btn.btn-bluegrey:hover
{
    background-color: var(--bluegrey-400);
    color: var(--white);
    border: 1px solid var(--bluegrey-400);
}

.outlined-btn.btn-bluegrey-50
{
    color: var(--bluegrey-50);
    border: 1px solid var(--bluegrey-50);
}
.outlined-btn.btn-bluegrey-50:hover
{
    background-color: var(--bluegrey-50);
    color: var(--white);
    border: 1px solid var(--bluegrey-50);
}

.outlined-btn.btn-bluegrey-100
{
    color: var(--bluegrey-100);
    border: 1px solid var(--bluegrey-100);
}
.outlined-btn.btn-bluegrey-100:hover
{
    background-color: var(--bluegrey-100);
    color: var(--white);
    border: 1px solid var(--bluegrey-100);
}

.outlined-btn.btn-bluegrey-200
{
    color: var(--bluegrey-200);
    border: 1px solid var(--bluegrey-200);
}
.outlined-btn.btn-bluegrey-200:hover
{
    background-color: var(--bluegrey-200);
    color: var(--white);
    border: 1px solid var(--bluegrey-200);
}

.outlined-btn.btn-bluegrey-300
{
    color: var(--bluegrey-300);
    border: 1px solid var(--bluegrey-300);
}
.outlined-btn.btn-bluegrey-300:hover
{
    background-color: var(--bluegrey-300);
    color: var(--white);
    border: 1px solid var(--bluegrey-300);
}

.outlined-btn.btn-bluegrey-400
{
    color: var(--bluegrey-400);
    border: 1px solid var(--bluegrey-400);
}
.outlined-btn.btn-bluegrey-400:hover
{
    background-color: var(--bluegrey-400);
    color: var(--white);
    border: 1px solid var(--bluegrey-400);
}

.outlined-btn.btn-bluegrey-500
{
    color: var(--bluegrey-500);
    border: 1px solid var(--bluegrey-500);
}
.outlined-btn.btn-bluegrey-500:hover
{
    background-color: var(--bluegrey-500);
    color: var(--white);
    border: 1px solid var(--bluegrey-500);
}

.outlined-btn.btn-bluegrey-600
{
    color: var(--bluegrey-600);
    border: 1px solid var(--bluegrey-600);
}
.outlined-btn.btn-bluegrey-600:hover
{
    background-color: var(--bluegrey-600);
    color: var(--white);
    border: 1px solid var(--bluegrey-600);
}

.outlined-btn.btn-bluegrey-700
{
    color: var(--bluegrey-700);
    border: 1px solid var(--bluegrey-700);
}
.outlined-btn.btn-bluegrey-700:hover
{
    background-color: var(--bluegrey-700);
    color: var(--white);
    border: 1px solid var(--bluegrey-700);
}

.outlined-btn.btn-bluegrey-800
{
    color: var(--bluegrey-800);
    border: 1px solid var(--bluegrey-800);
}
.outlined-btn.btn-bluegrey-800:hover
{
    background-color: var(--bluegrey-800);
    color: var(--white);
    border: 1px solid var(--bluegrey-800);
}

.outlined-btn.btn-bluegrey-900
{
    color: var(--bluegrey-900);
    border: 1px solid var(--bluegrey-900);
}
.outlined-btn.btn-bluegrey-900:hover
{
    background-color: var(--bluegrey-900);
    color: var(--white);
    border: 1px solid var(--bluegrey-900);
}

.outlined-btn.btn-brown
{
    color: var(--brown-400);
    border: 1px solid var(--brown-400);
}
.outlined-btn.btn-brown:hover
{
    background-color: var(--brown-400);
    color: var(--white);
    border: 1px solid var(--brown-400);
}

.outlined-btn.btn-brown-50
{
    color: var(--brown-50);
    border: 1px solid var(--brown-50);
}
.outlined-btn.btn-brown-50:hover
{
    background-color: var(--brown-50);
    color: var(--white);
    border: 1px solid var(--brown-50);
}

.outlined-btn.btn-brown-100
{
    color: var(--brown-100);
    border: 1px solid var(--brown-100);
}
.outlined-btn.btn-brown-100:hover
{
    background-color: var(--brown-100);
    color: var(--white);
    border: 1px solid var(--brown-100);
}

.outlined-btn.btn-brown-200
{
    color: var(--brown-200);
    border: 1px solid var(--brown-200);
}
.outlined-btn.btn-brown-200:hover
{
    background-color: var(--brown-200);
    color: var(--white);
    border: 1px solid var(--brown-200);
}

.outlined-btn.btn-brown-300
{
    color: var(--brown-300);
    border: 1px solid var(--brown-300);
}
.outlined-btn.btn-brown-300:hover
{
    background-color: var(--brown-300);
    color: var(--white);
    border: 1px solid var(--brown-300);
}

.outlined-btn.btn-brown-400
{
    color: var(--brown-400);
    border: 1px solid var(--brown-400);
}
.outlined-btn.btn-brown-400:hover
{
    background-color: var(--brown-400);
    color: var(--white);
    border: 1px solid var(--brown-400);
}

.outlined-btn.btn-brown-500
{
    color: var(--brown-500);
    border: 1px solid var(--brown-500);
}
.outlined-btn.btn-brown-500:hover
{
    background-color: var(--brown-500);
    color: var(--white);
    border: 1px solid var(--brown-500);
}

.outlined-btn.btn-brown-600
{
    color: var(--brown-600);
    border: 1px solid var(--brown-600);
}
.outlined-btn.btn-brown-600:hover
{
    background-color: var(--brown-600);
    color: var(--white);
    border: 1px solid var(--brown-600);
}

.outlined-btn.btn-brown-700
{
    color: var(--brown-700);
    border: 1px solid var(--brown-700);
}
.outlined-btn.btn-brown-700:hover
{
    background-color: var(--brown-700);
    color: var(--white);
    border: 1px solid var(--brown-700);
}

.outlined-btn.btn-brown-800
{
    color: var(--brown-800);
    border: 1px solid var(--brown-800);
}
.outlined-btn.btn-brown-800:hover
{
    background-color: var(--brown-800);
    color: var(--white);
    border: 1px solid var(--brown-800);
}

.outlined-btn.btn-brown-900
{
    color: var(--brown-900);
    border: 1px solid var(--brown-900);
}
.outlined-btn.btn-brown-900:hover
{
    background-color: var(--brown-900);
    color: var(--white);
    border: 1px solid var(--brown-900);
}

.outlined-btn.btn-grey
{
    color: var(--grey-400);
    border: 1px solid var(--grey-400);
}
.outlined-btn.btn-grey:hover
{
    background-color: var(--grey-400);
    color: var(--white);
    border: 1px solid var(--grey-400);
}

.outlined-btn.btn-grey-50
{
    color: var(--grey-50);
    border: 1px solid var(--grey-50);
}
.outlined-btn.btn-grey-50:hover
{
    background-color: var(--grey-50);
    color: var(--white);
    border: 1px solid var(--grey-50);
}

.outlined-btn.btn-grey-100
{
    color: var(--grey-100);
    border: 1px solid var(--grey-100);
}
.outlined-btn.btn-grey-100:hover
{
    background-color: var(--grey-100);
    color: var(--white);
    border: 1px solid var(--grey-100);
}

.outlined-btn.btn-grey-200
{
    color: var(--grey-200);
    border: 1px solid var(--grey-200);
}
.outlined-btn.btn-grey-200:hover
{
    background-color: var(--grey-200);
    color: var(--white);
    border: 1px solid var(--grey-200);
}

.outlined-btn.btn-grey-300
{
    color: var(--grey-300);
    border: 1px solid var(--grey-300);
}
.outlined-btn.btn-grey-300:hover
{
    background-color: var(--grey-300);
    color: var(--white);
    border: 1px solid var(--grey-300);
}

.outlined-btn.btn-grey-400
{
    color: var(--grey-400);
    border: 1px solid var(--grey-400);
}
.outlined-btn.btn-grey-400:hover
{
    background-color: var(--grey-400);
    color: var(--white);
    border: 1px solid var(--grey-400);
}

.outlined-btn.btn-grey-500
{
    color: var(--grey-500);
    border: 1px solid var(--grey-500);
}
.outlined-btn.btn-grey-500:hover
{
    background-color: var(--grey-500);
    color: var(--white);
    border: 1px solid var(--grey-500);
}

.outlined-btn.btn-grey-600
{
    color: var(--grey-600);
    border: 1px solid var(--grey-600);
}
.outlined-btn.btn-grey-600:hover
{
    background-color: var(--grey-600);
    color: var(--white);
    border: 1px solid var(--grey-600);
}

.outlined-btn.btn-grey-700
{
    color: var(--grey-700);
    border: 1px solid var(--grey-700);
}
.outlined-btn.btn-grey-700:hover
{
    background-color: var(--grey-700);
    color: var(--white);
    border: 1px solid var(--grey-700);
}

.outlined-btn.btn-grey-800
{
    color: var(--grey-800);
    border: 1px solid var(--grey-800);
}
.outlined-btn.btn-grey-800:hover
{
    background-color: var(--grey-800);
    color: var(--white);
    border: 1px solid var(--grey-800);
}

.outlined-btn.btn-grey-900
{
    color: var(--grey-900);
    border: 1px solid var(--grey-900);
}
.outlined-btn.btn-grey-900:hover
{
    background-color: var(--grey-900);
    color: var(--white);
    border: 1px solid var(--grey-900);
}

.outlined-btn.btn-yellow
{
    color: var(--yellow-400);
    border: 1px solid var(--yellow-400);
}
.outlined-btn.btn-yellow:hover
{
    background-color: var(--yellow-400);
    color: var(--white);
    border: 1px solid var(--yellow-400);
}

.outlined-btn.btn-yellow-50
{
    color: var(--yellow-50);
    border: 1px solid var(--yellow-50);
}
.outlined-btn.btn-yellow-50:hover
{
    background-color: var(--yellow-50);
    color: var(--white);
    border: 1px solid var(--yellow-50);
}

.outlined-btn.btn-yellow-100
{
    color: var(--yellow-100);
    border: 1px solid var(--yellow-100);
}
.outlined-btn.btn-yellow-100:hover
{
    background-color: var(--yellow-100);
    color: var(--white);
    border: 1px solid var(--yellow-100);
}

.outlined-btn.btn-yellow-200
{
    color: var(--yellow-200);
    border: 1px solid var(--yellow-200);
}
.outlined-btn.btn-yellow-200:hover
{
    background-color: var(--yellow-200);
    color: var(--white);
    border: 1px solid var(--yellow-200);
}

.outlined-btn.btn-yellow-300
{
    color: var(--yellow-300);
    border: 1px solid var(--yellow-300);
}
.outlined-btn.btn-yellow-300:hover
{
    background-color: var(--yellow-300);
    color: var(--white);
    border: 1px solid var(--yellow-300);
}

.outlined-btn.btn-yellow-400
{
    color: var(--yellow-400);
    border: 1px solid var(--yellow-400);
}
.outlined-btn.btn-yellow-400:hover
{
    background-color: var(--yellow-400);
    color: var(--white);
    border: 1px solid var(--yellow-400);
}

.outlined-btn.btn-yellow-500
{
    color: var(--yellow-500);
    border: 1px solid var(--yellow-500);
}
.outlined-btn.btn-yellow-500:hover
{
    background-color: var(--yellow-500);
    color: var(--white);
    border: 1px solid var(--yellow-500);
}

.outlined-btn.btn-yellow-600
{
    color: var(--yellow-600);
    border: 1px solid var(--yellow-600);
}
.outlined-btn.btn-yellow-600:hover
{
    background-color: var(--yellow-600);
    color: var(--white);
    border: 1px solid var(--yellow-600);
}

.outlined-btn.btn-yellow-700
{
    color: var(--yellow-700);
    border: 1px solid var(--yellow-700);
}
.outlined-btn.btn-yellow-700:hover
{
    background-color: var(--yellow-700);
    color: var(--white);
    border: 1px solid var(--yellow-700);
}

.outlined-btn.btn-yellow-800
{
    color: var(--yellow-800);
    border: 1px solid var(--yellow-800);
}
.outlined-btn.btn-yellow-800:hover
{
    background-color: var(--yellow-800);
    color: var(--white);
    border: 1px solid var(--yellow-800);
}

.outlined-btn.btn-yellow-900
{
    color: var(--yellow-900);
    border: 1px solid var(--yellow-900);
}
.outlined-btn.btn-yellow-900:hover
{
    background-color: var(--yellow-900);
    color: var(--white);
    border: 1px solid var(--yellow-900);
}

.outlined-btn.btn-amber
{
    color: var(--amber-400);
    border: 1px solid var(--amber-400);
}
.outlined-btn.btn-amber:hover
{
    background-color: var(--amber-400);
    color: var(--white);
    border: 1px solid var(--amber-400);
}

.outlined-btn.btn-amber-50
{
    color: var(--amber-50);
    border: 1px solid var(--amber-50);
}
.outlined-btn.btn-amber-50:hover
{
    background-color: var(--amber-50);
    color: var(--white);
    border: 1px solid var(--amber-50);
}

.outlined-btn.btn-amber-100
{
    color: var(--amber-100);
    border: 1px solid var(--amber-100);
}
.outlined-btn.btn-amber-100:hover
{
    background-color: var(--amber-100);
    color: var(--white);
    border: 1px solid var(--amber-100);
}

.outlined-btn.btn-amber-200
{
    color: var(--amber-200);
    border: 1px solid var(--amber-200);
}
.outlined-btn.btn-amber-200:hover
{
    background-color: var(--amber-200);
    color: var(--white);
    border: 1px solid var(--amber-200);
}

.outlined-btn.btn-amber-300
{
    color: var(--amber-300);
    border: 1px solid var(--amber-300);
}
.outlined-btn.btn-amber-300:hover
{
    background-color: var(--amber-300);
    color: var(--white);
    border: 1px solid var(--amber-300);
}

.outlined-btn.btn-amber-400
{
    color: var(--amber-400);
    border: 1px solid var(--amber-400);
}
.outlined-btn.btn-amber-400:hover
{
    background-color: var(--amber-400);
    color: var(--white);
    border: 1px solid var(--amber-400);
}

.outlined-btn.btn-amber-500
{
    color: var(--amber-500);
    border: 1px solid var(--amber-500);
}
.outlined-btn.btn-amber-500:hover
{
    background-color: var(--amber-500);
    color: var(--white);
    border: 1px solid var(--amber-500);
}

.outlined-btn.btn-amber-600
{
    color: var(--amber-600);
    border: 1px solid var(--amber-600);
}
.outlined-btn.btn-amber-600:hover
{
    background-color: var(--amber-600);
    color: var(--white);
    border: 1px solid var(--amber-600);
}

.outlined-btn.btn-amber-700
{
    color: var(--amber-700);
    border: 1px solid var(--amber-700);
}
.outlined-btn.btn-amber-700:hover
{
    background-color: var(--amber-700);
    color: var(--white);
    border: 1px solid var(--amber-700);
}

.outlined-btn.btn-amber-800
{
    color: var(--amber-800);
    border: 1px solid var(--amber-800);
}
.outlined-btn.btn-amber-800:hover
{
    background-color: var(--amber-800);
    color: var(--white);
    border: 1px solid var(--amber-800);
}

.outlined-btn.btn-amber-900
{
    color: var(--amber-900);
    border: 1px solid var(--amber-900);
}
.outlined-btn.btn-amber-900:hover
{
    background-color: var(--amber-900);
    color: var(--white);
    border: 1px solid var(--amber-900);
}

.outlined-btn.btn-orange
{
    color: var(--orange-400);
    border: 1px solid var(--orange-400);
}
.outlined-btn.btn-orange:hover
{
    background-color: var(--orange-400);
    color: var(--white);
    border: 1px solid var(--orange-400);
}

.outlined-btn.btn-orange-50
{
    color: var(--orange-50);
    border: 1px solid var(--orange-50);
}
.outlined-btn.btn-orange-50:hover
{
    background-color: var(--orange-50);
    color: var(--white);
    border: 1px solid var(--orange-50);
}

.outlined-btn.btn-orange-100
{
    color: var(--orange-100);
    border: 1px solid var(--orange-100);
}
.outlined-btn.btn-orange-100:hover
{
    background-color: var(--orange-100);
    color: var(--white);
    border: 1px solid var(--orange-100);
}

.outlined-btn.btn-orange-200
{
    color: var(--orange-200);
    border: 1px solid var(--orange-200);
}
.outlined-btn.btn-orange-200:hover
{
    background-color: var(--orange-200);
    color: var(--white);
    border: 1px solid var(--orange-200);
}

.outlined-btn.btn-orange-300
{
    color: var(--orange-300);
    border: 1px solid var(--orange-300);
}
.outlined-btn.btn-orange-300:hover
{
    background-color: var(--orange-300);
    color: var(--white);
    border: 1px solid var(--orange-300);
}

.outlined-btn.btn-orange-400
{
    color: var(--orange-400);
    border: 1px solid var(--orange-400);
}
.outlined-btn.btn-orange-400:hover
{
    background-color: var(--orange-400);
    color: var(--white);
    border: 1px solid var(--orange-400);
}

.outlined-btn.btn-orange-500
{
    color: var(--orange-500);
    border: 1px solid var(--orange-500);
}
.outlined-btn.btn-orange-500:hover
{
    background-color: var(--orange-500);
    color: var(--white);
    border: 1px solid var(--orange-500);
}

.outlined-btn.btn-orange-600
{
    color: var(--orange-600);
    border: 1px solid var(--orange-600);
}
.outlined-btn.btn-orange-600:hover
{
    background-color: var(--orange-600);
    color: var(--white);
    border: 1px solid var(--orange-600);
}

.outlined-btn.btn-orange-700
{
    color: var(--orange-700);
    border: 1px solid var(--orange-700);
}
.outlined-btn.btn-orange-700:hover
{
    background-color: var(--orange-700);
    color: var(--white);
    border: 1px solid var(--orange-700);
}

.outlined-btn.btn-orange-800
{
    color: var(--orange-800);
    border: 1px solid var(--orange-800);
}
.outlined-btn.btn-orange-800:hover
{
    background-color: var(--orange-800);
    color: var(--white);
    border: 1px solid var(--orange-800);
}

.outlined-btn.btn-orange-900
{
    color: var(--orange-900);
    border: 1px solid var(--orange-900);
}
.outlined-btn.btn-orange-900:hover
{
    background-color: var(--orange-900);
    color: var(--white);
    border: 1px solid var(--orange-900);
}

.outlined-btn.btn-deep-orange
{
    color: var(--deep-orange-400);
    border: 1px solid var(--deep-orange-400);
}
.outlined-btn.btn-deep-orange:hover
{
    background-color: var(--deep-orange-400);
    color: var(--white);
    border: 1px solid var(--deep-orange-400);
}

.outlined-btn.btn-deep-orange-50
{
    color: var(--deep-orange-50);
    border: 1px solid var(--deep-orange-50);
}
.outlined-btn.btn-deep-orange-50:hover
{
    background-color: var(--deep-orange-50);
    color: var(--white);
    border: 1px solid var(--deep-orange-50);
}

.outlined-btn.btn-deep-orange-100
{
    color: var(--deep-orange-100);
    border: 1px solid var(--deep-orange-100);
}
.outlined-btn.btn-deep-orange-100:hover
{
    background-color: var(--deep-orange-100);
    color: var(--white);
    border: 1px solid var(--deep-orange-100);
}

.outlined-btn.btn-deep-orange-200
{
    color: var(--deep-orange-200);
    border: 1px solid var(--deep-orange-200);
}
.outlined-btn.btn-deep-orange-200:hover
{
    background-color: var(--deep-orange-200);
    color: var(--white);
    border: 1px solid var(--deep-orange-200);
}

.outlined-btn.btn-deep-orange-300
{
    color: var(--deep-orange-300);
    border: 1px solid var(--deep-orange-300);
}
.outlined-btn.btn-deep-orange-300:hover
{
    background-color: var(--deep-orange-300);
    color: var(--white);
    border: 1px solid var(--deep-orange-300);
}

.outlined-btn.btn-deep-orange-400
{
    color: var(--deep-orange-400);
    border: 1px solid var(--deep-orange-400);
}
.outlined-btn.btn-deep-orange-400:hover
{
    background-color: var(--deep-orange-400);
    color: var(--white);
    border: 1px solid var(--deep-orange-400);
}

.outlined-btn.btn-deep-orange-500
{
    color: var(--deep-orange-500);
    border: 1px solid var(--deep-orange-500);
}
.outlined-btn.btn-deep-orange-500:hover
{
    background-color: var(--deep-orange-500);
    color: var(--white);
    border: 1px solid var(--deep-orange-500);
}

.outlined-btn.btn-deep-orange-600
{
    color: var(--deep-orange-600);
    border: 1px solid var(--deep-orange-600);
}
.outlined-btn.btn-deep-orange-600:hover
{
    background-color: var(--deep-orange-600);
    color: var(--white);
    border: 1px solid var(--deep-orange-600);
}

.outlined-btn.btn-deep-orange-700
{
    color: var(--deep-orange-700);
    border: 1px solid var(--deep-orange-700);
}
.outlined-btn.btn-deep-orange-700:hover
{
    background-color: var(--deep-orange-700);
    color: var(--white);
    border: 1px solid var(--deep-orange-700);
}

.outlined-btn.btn-deep-orange-800
{
    color: var(--deep-orange-800);
    border: 1px solid var(--deep-orange-800);
}
.outlined-btn.btn-deep-orange-800:hover
{
    background-color: var(--deep-orange-800);
    color: var(--white);
    border: 1px solid var(--deep-orange-800);
}

.outlined-btn.btn-deep-orange-900
{
    color: var(--deep-orange-900);
    border: 1px solid var(--deep-orange-900);
}
.outlined-btn.btn-deep-orange-900:hover
{
    background-color: var(--deep-orange-900);
    color: var(--white);
    border: 1px solid var(--deep-orange-900);
}

.outlined-btn.btn-green
{
    color: var(--green-400);
    border: 1px solid var(--green-400);
}
.outlined-btn.btn-green:hover
{
    background-color: var(--green-400);
    color: var(--white);
    border: 1px solid var(--green-400);
}

.outlined-btn.btn-green-50
{
    color: var(--green-50);
    border: 1px solid var(--green-50);
}
.outlined-btn.btn-green-50:hover
{
    background-color: var(--green-50);
    color: var(--white);
    border: 1px solid var(--green-50);
}

.outlined-btn.btn-green-100
{
    color: var(--green-100);
    border: 1px solid var(--green-100);
}
.outlined-btn.btn-green-100:hover
{
    background-color: var(--green-100);
    color: var(--white);
    border: 1px solid var(--green-100);
}

.outlined-btn.btn-green-200
{
    color: var(--green-200);
    border: 1px solid var(--green-200);
}
.outlined-btn.btn-green-200:hover
{
    background-color: var(--green-200);
    color: var(--white);
    border: 1px solid var(--green-200);
}

.outlined-btn.btn-green-300
{
    color: var(--green-300);
    border: 1px solid var(--green-300);
}
.outlined-btn.btn-green-300:hover
{
    background-color: var(--green-300);
    color: var(--white);
    border: 1px solid var(--green-300);
}

.outlined-btn.btn-green-400
{
    color: var(--green-400);
    border: 1px solid var(--green-400);
}
.outlined-btn.btn-green-400:hover
{
    background-color: var(--green-400);
    color: var(--white);
    border: 1px solid var(--green-400);
}

.outlined-btn.btn-green-500
{
    color: var(--green-500);
    border: 1px solid var(--green-500);
}
.outlined-btn.btn-green-500:hover
{
    background-color: var(--green-500);
    color: var(--white);
    border: 1px solid var(--green-500);
}

.outlined-btn.btn-green-600
{
    color: var(--green-600);
    border: 1px solid var(--green-600);
}
.outlined-btn.btn-green-600:hover
{
    background-color: var(--green-600);
    color: var(--white);
    border: 1px solid var(--green-600);
}

.outlined-btn.btn-green-700
{
    color: var(--green-700);
    border: 1px solid var(--green-700);
}
.outlined-btn.btn-green-700:hover
{
    background-color: var(--green-700);
    color: var(--white);
    border: 1px solid var(--green-700);
}

.outlined-btn.btn-green-800
{
    color: var(--green-800);
    border: 1px solid var(--green-800);
}
.outlined-btn.btn-green-800:hover
{
    background-color: var(--green-800);
    color: var(--white);
    border: 1px solid var(--green-800);
}

.outlined-btn.btn-green-900
{
    color: var(--green-900);
    border: 1px solid var(--green-900);
}
.outlined-btn.btn-green-900:hover
{
    background-color: var(--green-900);
    color: var(--white);
    border: 1px solid var(--green-900);
}

.outlined-btn.btn-light-green
{
    color: var(--light-green-400);
    border: 1px solid var(--light-green-400);
}
.outlined-btn.btn-light-green:hover
{
    background-color: var(--light-green-400);
    color: var(--white);
    border: 1px solid var(--light-green-400);
}

.outlined-btn.btn-light-green-50
{
    color: var(--light-green-50);
    border: 1px solid var(--light-green-50);
}
.outlined-btn.btn-light-green-50:hover
{
    background-color: var(--light-green-50);
    color: var(--white);
    border: 1px solid var(--light-green-50);
}

.outlined-btn.btn-light-green-100
{
    color: var(--light-green-100);
    border: 1px solid var(--light-green-100);
}
.outlined-btn.btn-light-green-100:hover
{
    background-color: var(--light-green-100);
    color: var(--white);
    border: 1px solid var(--light-green-100);
}

.outlined-btn.btn-light-green-200
{
    color: var(--light-green-200);
    border: 1px solid var(--light-green-200);
}
.outlined-btn.btn-light-green-200:hover
{
    background-color: var(--light-green-200);
    color: var(--white);
    border: 1px solid var(--light-green-200);
}

.outlined-btn.btn-light-green-300
{
    color: var(--light-green-300);
    border: 1px solid var(--light-green-300);
}
.outlined-btn.btn-light-green-300:hover
{
    background-color: var(--light-green-300);
    color: var(--white);
    border: 1px solid var(--light-green-300);
}

.outlined-btn.btn-light-green-400
{
    color: var(--light-green-400);
    border: 1px solid var(--light-green-400);
}
.outlined-btn.btn-light-green-400:hover
{
    background-color: var(--light-green-400);
    color: var(--white);
    border: 1px solid var(--light-green-400);
}

.outlined-btn.btn-light-green-500
{
    color: var(--light-green-500);
    border: 1px solid var(--light-green-500);
}
.outlined-btn.btn-light-green-500:hover
{
    background-color: var(--light-green-500);
    color: var(--white);
    border: 1px solid var(--light-green-500);
}

.outlined-btn.btn-light-green-600
{
    color: var(--light-green-600);
    border: 1px solid var(--light-green-600);
}
.outlined-btn.btn-light-green-600:hover
{
    background-color: var(--light-green-600);
    color: var(--white);
    border: 1px solid var(--light-green-600);
}

.outlined-btn.btn-light-green-700
{
    color: var(--light-green-700);
    border: 1px solid var(--light-green-700);
}
.outlined-btn.btn-light-green-700:hover
{
    background-color: var(--light-green-700);
    color: var(--white);
    border: 1px solid var(--light-green-700);
}

.outlined-btn.btn-light-green-800
{
    color: var(--light-green-800);
    border: 1px solid var(--light-green-800);
}
.outlined-btn.btn-light-green-800:hover
{
    background-color: var(--light-green-800);
    color: var(--white);
    border: 1px solid var(--light-green-800);
}

.outlined-btn.btn-light-green-900
{
    color: var(--light-green-900);
    border: 1px solid var(--light-green-900);
}
.outlined-btn.btn-light-green-900:hover
{
    background-color: var(--light-green-900);
    color: var(--white);
    border: 1px solid var(--light-green-900);
}
